#board {
    height:314px;
    width:314px;
    border:solid black;
    background:solid black;
}
.square {
    height:100px;
    width:100px;
    border:1px solid black;
    display:inline-block;
    margin:0;
    padding:0;
    background:white;
    text-align:center;
    margin:auto;
    color:solid black;
}